@media only screen and (min-width:1299px) {
    header{
        .container-fluid{
            padding: 0px 100px;
        }
        &.isFixed {
            .container-fluid{
                padding: 0px 100px;
            }
        }
    }
    footer{
        .container-fluid{
            padding: 0px 100px;
        }
    }
    .contact{
        .container{
            padding: 50px 0;
        }
    }
    .homer-banner  {
        .container-fluid {
            .row {
                .text{
                    .content{
                        padding: 100px 0px 0px 150px;
                    }
                }
            }
        }
    }
    .about{
        .container-fluid{
            .row{
                .strategy,.creativ, .digital {
                    .text{
                        p{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    .work {
        .container-fluid{
            padding: 30px 100px;
        }
    }
    .news {
        .container-fluid{
            padding: 100px 100px;
        
        }
    }
}
@media screen and (max-width:1299px) {
    .homer-banner  {
        .container-fluid {
            .row {
                .text{
                    .content{
                        padding: 100px 0px 0px 20px;
                    }
                }
            }
        }
    }
    .news,.work{
        .container-fluid{
            .row{
                .right{
                    h2{
                        width: 100%;
                    }
                }
            }
        }
    }
    .news{
        .container-fluid{
            .title{
                font-size: 100px;
            }
        }
    }
    .about{
        .container-fluid{
            .row{
                .strategy,.creativ, .digital{
                    .text{
                        p{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px){
    .homer-banner  {
        .container-fluid {
            .row {
                .text{
                    .content{
                        padding: 20px 0px 20px 0px;
                        div{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            z-index: 2;
                            transform: translate(-50%,100%);
                            a{
                                span{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .works{
        .container {
            padding: 50px 50px;
            .row{
                .menu{
                    .works-button{
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        button{
                            padding: 0 10px;
                        }
                    }
                }

                .portfolio_gallery{
                    padding-top: 40px;
                }
            }
        }
    }
    .work   {
        .container-fluid{
            padding: 20px 10px;
            .row {
                .left{
                    h2{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                }
                .right{
                    width: 20%;
                    position: absolute;
                    bottom: -40px;
                    right: 0;
                }
            }
        }
    }
    .about{
        margin-top: 50px;
        .container-fluid{
            .row{
                .digital {
                    .title{
                        margin-right: 0px;
                    }
                    
                }
                .strategy{
                    grid-template-areas:
                    "title"
                    "textt";
                    grid-template-columns:1fr;
                    margin-bottom: 40px;
                    .title{
                        margin-left: 0px;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                    .text{
                        width: 50%;
                        margin: auto;
                        text-align: center;
                    }
                }
                .creativ{
                    flex-wrap: wrap;
                    margin-bottom: 40px;
                    .text{
                        width: 50%;
                        margin: auto;
                        text-align: center;
                    }
                    .title{
                        order: -1;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                }
                .digital{
                    grid-template-areas: 
                    "digtaltitle"
                    "digitaltext";
                    grid-template-columns:1fr;
                    .title{
                        text-align: center;
                        margin-bottom: 30px;
                    }
                    .text{
                        width: 50%;
                        margin: auto;
                        text-align: center;
                    }
                }
                .creativ,.digital,.strategy{
                    
                    .title{
                        h2{
                            letter-spacing: normal;
                        }
                    }
                }
            }
        }
    }
    .team  {
        .container-fluid{
            .row {
                .team_left{
                    padding: 30px 0;
                    .title {
                        h2{
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
    .news{
        margin-top: 50px;
        position: relative;
        margin-bottom: 70px;
        .container-fluid{
            .title{
                font-size: 70px;
                width: 100%;
                padding: 0;
                margin-bottom: 30px;
                text-align: center;
            }
            .row{
                .left{
                    margin-bottom: 30px;
                }
                .right{
                    width: 30%;
                    position: absolute;
                    bottom: -40px;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .banner{
        .container-fluid{
            .row{
                .image{
                    i{
                        font-size: 14px;
                    }
                    span{
                        a{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .works{
        .container {
            padding: 50px 20px;
            .row{
                .menu{
                    .works-button{
                        button{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .about{
        .container-fluid{
            .row{
                .strategy, .creativ, .digital{
                    flex-direction: column;
                    .title{
                        h2{
                            font-size: 66px;
                        }
                    }
                    .text{
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 565px){
    .works{
        .container {
            .row{
                .portfolio_gallery{
                    .box{
                        width: 100%;
                    }
                }
            }
        }
    }
}